@define-mixin atSmall {
	@media (min-width: 530px) {
		@mixin-content;
	}
}

@define-mixin atMedium {
	@media (min-width: 800px) {
		@mixin-content;
	}
}

@define-mixin atLarge {
	@media (min-width: 1200px) {
		@mixin-content;
	}
}

/* This clears the float, pushes next section down.
Creates blank content after all elements in parent div (.row) */
@define-mixin clearfix {
	&::after {
		content: "";
		clear: both;
		display: table;
	}
}