.wrapper {
	overflow: hidden; /*Hides negative margin from row--gutters*/
	padding-left: 1.2rem;
	padding-right: 1.2rem;
	max-width: 1236px;
	margin-left: auto;
	margin-right: auto;


	&--medium {
		max-width: 976px;
	}

	.wrapper {
		padding-left: 0;
		padding-right: 0;
	}

	&--b-margin {
		margin-bottom: 1.0rem;
	
		@mixin atSmall
			&--b-margin {
			margin-bottom: 3.875rem;
		}
	}

}